
body {
    padding: 2em;
    width: 60%;
    height: 100%;
    min-width: 600px;
    margin-right: auto;
    text-align: center;
    background-repeat: repeat;
    background-image: url(img/wallpaper4.jpg);
    background-size: 100%;
    background-position: right;
    
    -webkit-user-select: none;
}

#spaceinvaders {
    border-color: rgb(0,255,0);
}

.hidden {
    display: none;
}

.credits {
    margin: auto;
    width: 40%;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(255,255,255);
}

h2, p {
    color: rgb(255,255,255);
}

canvas {
    border: 1px rgb(0, 0, 0) solid;
}

.buttons {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
}

.buttons div {
    padding: 1em;
    display: inline;
    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    border-style: solid;
    border-width: 1px;
}

#shoot {
    margin-left: 9em;
    margin-right: 9em;
}

.buttons div:hover {
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
}